/*
 Crea una aplicación web que permita hacer listado, alta, baja y modificación sobre la tabla cliente
de la base de datos banco.
• Para realizar el listado bastará un SELECT, tal y como se ha visto en los ejemplos.
• El alta se realizará mediante un formulario donde se especificarán todos los campos del nuevo
registro. Luego esos datos se enviarán a una página que ejecutará INSERT.
• Para realizar una baja, se mostrará un botón que ejecutará DELETE.
• La modificación se realiza mediante UPDATE.
*/
/* 
    Created on : 03-nov-2016, 21:36:30
    Author     : Junior Castillo
*/

body {font-family: Arial, Helvetica, sans-serif;

}

table { font-size: 12px;    
        margin: 45px;     
        width: 480px; 
        text-align: left;    
        border-collapse: collapse;
}

th {     font-size: 13px;     
         font-weight: normal;     
         padding: 8px;     
         background: #b9c9fe;
         border-top: 4px solid #aabcfe;    
         border-bottom: 1px solid #fff; 
         color: #039; 
}

td {    padding: 8px;     
        background: #e8edff;    
        border-bottom: 1px solid #fff;
        color: #669;   
        border-top: 1px solid transparent; 
}

tr:hover td { background: #d0dafd; 
              color: #339; 
}